<h1 align=center><%="#{@experience.title}"%></h1>
<p align=center>Stats:<br>
XP Gain: <%= @experience.xp %><br>
Treasure: <%= @experience.treasure_rating %><br>
Hp: <%= @experience.hp_rating %><br>
</p>

<h3>Select which Hero you want to embark on  "<%="#{@experience.title}"%>"</h3>

<%= form_for @experience.adventures.last do |f|%>
  <%= f.collection_select(:hero_id, current_user.heros.all, :id, :name)%>
  <%= f.hidden_field :experience_id, :value => @experience.id %>
  <p>
  <%= f.label :little_sister, "Bring your little sister?"%>
  <%= f.check_box :little_sister %>
  <p>
  <%= f.submit "Go On Adventure!"%>
<% end %>


<h3>Or <%=link_to "Select A Different Adventure", user_experiences_path(current_user)%></h3>
<%= link_to "Delete Adventure", experience_path(@experience), method: :delete, data: { confirm: "Are you sure? This will permanently remove #{@experience.title} from your available experiences."} %>
