<h1 align=center><%="#{@experience.title}"%></h1>
<p align=center>Stats:<br>
XP Gain: <%= @experience.xp %><br>
Treasure: <%= @experience.treasure_rating %><br>
Hp: <%= @experience.hp_rating %><br>
</p>

<h3>Select which Hero you want to embark on  "<%="#{@experience.title}"%>"</h3>

<%= form_for @experience.adventures.last do |f|%>
  <%= f.collection_select(:hero_id, @heros, :id, :name) %>
  <%= f.hidden_field :experience_id, :value => @experience.id %>
  <%= f.submit "Go On Adventure!", data: { confirm: "Your little sister heard about the adventure and wants to tag along. Will you allow her to go?"}%>
<% end %>


<h3>Or <%=link_to "Select A Different Adventure", user_experiences_path(current_user)%></h3>
