<div class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <%= link_to "Home", root_path %>
      <%= link_to "Sign Up", new_user_registration_path unless user_signed_in?%>
      <% if user_signed_in? %>
      <%= link_to "Heros", heros_path(current_user), class: 'all_heros' %>
      <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
      <% else %>
      <%= link_to "Log In", new_user_session_path %>
      <% end %>
    </div>
  </div>
</div>
