<!DOCTYPE html>
<html>
  <head>
    <title>HeroQuestStart</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- <nav class="navbar navbar-default"> -->

     <div class="container">

       <%= render 'layouts/navigation' %>
       <div id="app-container">
         <%= yield %>
       </div>
     </div>
   <!-- </nav> -->
   <p class="notice"><%= notice %></p>
   <p class="alert"><%= alert %></p>
  <%= flash[:word] if flash[:word]%>
  
  </body>
</html>
