<!DOCTYPE html>
<html>
  <head>
    <title>HeroQuestStart</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default">

     <div class="container">

       <div class="navbar-header">
         <%= link_to "Home", root_path, class: 'all_herooo' %>
         <%= link_to "Sign Up", new_user_registration_path unless user_signed_in?%>
         <% if user_signed_in? %>
         <%= link_to "Heros", user_heros_path(current_user), class: 'all_heros' %>
         <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
         <% else %>
         <%= link_to "Log In", new_user_session_path %>
         <% end %>
       </div>
     </div>
   </nav>
   <p class="notice"><%= notice %></p>
   <p class="alert"><%= alert %></p>
  <%= flash[:word] if flash[:word]%>
  <div class="container">
    <%= yield %>
    </div>
  </body>
</html>
